<div class="modal-dialog modal-lg" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">添加用户</h4>
        </div>
        <small class="font-bold">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form id="add-user-form" method="post" class="form-horizontal" th:action="@{/admin/user/add}">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">登录名<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="loginName"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">姓名<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">密码<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="password" id="password"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">确认密码<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="passwordAgain"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">角色<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="role">
                                                <option th:each="role:${roles}" th:value="${role.name}" th:text="${role.displayName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">确定添加</button>
                                            <button class="btn btn-white" type="button" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </small>
    </div>
</div>
<script>

    //自定义登录名重复认证
    jQuery.validator.addMethod("checkLoginName", function (value, element) {
        var flag = false;
        $.ajax({
            type: "post",
            url: "/admin/user/checkLoginName",
            data: {loginName: value},
            async: false,
            success: function (data) {
                if (data === false) {
                    flag = false;
                } else {
                    flag = true;
                }
            }
        });
        return flag;
    }, "登录名已存在");

    $(function () {
        //表单验证
        $("#add-user-form").validate({
            rules:{
                loginName:{
                    "required":true,
                    "checkLoginName":true
                },
                name:"required",
                password:"required",
                passwordAgain:{
                    required:true,
                    equalTo:"#password"
                },
            },messages:{
                loginName:{
                    "required":"请输入登录名",
                    "checkLoginName":"登录名已存在"
                },
                name:"请输入姓名",
                password:"请输入密码",
                passwordAgain:{
                    required:"请确认密码",
                    equalTo:"两次输入的密码不同"
                },
            },
            onfocusout: false
        });

    });
</script>