<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                        <span class="input-group-btn">
                        <input type="button" class="btn btn-success" data-toggle="modal"
                               data-target="#userModal"
                               onclick="openModal('/admin/user/toAdd','userModal')"
                               value="添加用户"/>
                        </span>
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                    <div class="table table-bordered table-hover">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>登录名</th>
                                <th>姓名</th>
                                <th>角色</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${list}">
                                <td th:text="${userStat.index+1}"></td>
                                <td th:text="${user.loginName}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.role.displayName}"></td>
                                <td>
                                    <a onclick="return confirm('确定删除该用户吗？')" class="btn btn-sm btn-danger"
                                       th:href="@{'/admin/user/delete/'+${user.id}}">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="userModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>